*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 15px;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    width: fit-content;
    height: 25px;
    margin-top: 5px;
    padding: 3px;

}